#background-area {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 20px;
    gap: 10px;

    #toggle-backgrounds-btn {
        width: 160px;
        padding: 8px 16px;
        font-size: 14px;
        background-color: var(--bg-color);
        color: var(--text-color);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        z-index: 100;
        transition: background-color 0.3s ease;
    }

    #toggle-backgrounds-btn:hover {
        background-color: var(--bg-color-hover);
    }

    #backgrounds-container {
        display: none;
        flex-direction: column;
        gap: 16px;
        max-width: 800px;
        padding: 20px;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 20px;

        .background-card {
            position: relative;
            cursor: pointer;
            background-color: #222;
            border-radius: 12px;

            .background-thumb {
                width: 120px;
                height: calc(120px * 1030 / 1920);
                object-fit: cover;
                border-radius: 12px;
                display: block;
            }

            .background-edit {
                display: none;
                position: absolute;
                top: 6px;
                right: 6px;
                background: rgba(0, 0, 0, 0.6);
                border: none;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }

        .background-card:hover {
            .background-edit {
                display: block;
            }
        }

        .add-background-card {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--bg-color);
            border-radius: 12px;
            cursor: pointer;
            padding: 10px 0;
            transition: background-color 0.3s ease;
            min-width: 120px;
        }

        .add-background-card:hover {
            background: var(--bg-color-hover);
        }
    }

    #backgrounds-container.visible {
        display: flex;
    }
}